* {
    box-sizing: border-box;
}

html {
    background-color: whitesmoke;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

#nav {
    background-color: black;
    width: 100vw;
    height: 30px;
}

.hidden {
    display: none;
}

header {
    display: flex;
    float: left;
    background-color: #4c4c4c;
    width: 100vw;
    height: 180px;
    margin-bottom: 30px;
}

#logo {
    height: 100px;
    margin-top: 20px;
}

main {
    margin: 0;
    height: 1000px;
    padding: 50px;
    background: white;
    text-align: center;
    background-image: url(../assets/bus-img-2.jpg);
    background-position: center 30px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

h1 {
    font-family: 'Hind Siliguri', sans-serif;
    color: white;
    text-shadow: 3px 3px 5px black;
}

h2 {
    color: black;
    margin-top: 20px;
}

#item-choice-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.item {
    width: 300px;
    height: 300px;
    position: relative;
    border: 5px solid #ddd;
    padding: 0;
    transition: width 200ms ease-in-out;
}

#item-choice-container.reveal .item::before {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bolder;
    height: 25px;
    width: 25px;
    background: white;
    padding: 3px;
    border-radius: 100%;
}

#item-choice-container:not(.reveal) .item:hover {
    border: 5px solid red;
    cursor: pointer;
}

#item-choice-container.reveal .item.choice {
    border: 5px solid red;
}

.item img {
    height: 290px;
    width: 290px;
    object-fit: cover;
}

#results-button {
    font-size: 1.5rem;
    font-family: '', sans-serif;
    padding: 10px;
    width: 220px;
    background-color: red;
    color: white;
    border: transparent;
    font-weight: bolder;
    margin-top: 20px;
}

.results-button:hover {
    cursor: pointer;
    transition: color 100ms ease-in;
    border: 2px solid white;
}

footer {
    background-color:black;
    height:20px;
}